body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image:url("http://cdn.staticneo.com/w/bravely/8/80/Yunohana_(Bravely_Second).png")
}
main{
    flex: 1 0 auto;
    font-family: 'Inconsolata' ;
}

/*Blog Posts*/

.blog-post {
    margin-bottom: 60px;
    font-family: 'Inconsolata' ;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
    font-family: 'Inconsolata' ;
}

.blog-post-meta{
    margin-bottom: 20px;
    color: #999;
    font-family: 'Inconsolata' ;
}

#wrapper{
    width:800px;
    border: 1px solid black;
    position: relative;
    
    
    }
    #first {
        width: 100px;
      float: left;
      
       }
    #second {
      
       position: absolute;
       top:0;
       left: 275px;
       right: 0;
       
    }
        nav div {
         
        text-align: center;
        width: 700px;
        padding: 30px;
     
        
    }

div { /*
	 height: 700px;
         width: 1000px; 
        text-align: right;*/
         padding: 30px;
         background-color: beige;
             /*#33AD5C;*/
       
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
